// .table_page {
//     margin: 0 auto;
//     table {
//         width: 100%;
//         // caption-side: bottom;
//         // border-collapse: collapse;
//         thead {
//             background: #f2f2f2;
//             tr {
//                 th {
//                     color: #24262b;
//                     // border-bottom: 3px solid #fb5d5d;
//                     font-size: 16px;
//                     font-weight: 600;
//                     text-transform: capitalize;
//                     padding: 10px;
//                     text-align: center;
//                 }
//             }
//         }
//         tbody {
//             tr {
//                 td {
//                     font-weight: 600;
//                     text-transform: capitalize;
//                     font-size: 14px;
//                     text-align: center;
//                     min-width: 100px;
//                     padding: 10px;
//                     &:last-child {
//                         color: #fb5d5d;
//                     }
//                 }
//             }
//         }
//     }
// }
.table-customize {
    table {
        border: none;
        tr {
            border: none;
            td{
                border-top: 1px solid;
                border-color: #e5e5e5;
                border-bottom: 0px;
            }
        }
    }
}
