.section-title{
    .title {
        font-size: 36px;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 800;
        margin-bottom: 11px;
        background: linear-gradient(-96deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
}
