{{!-- {{#section 'js'}}
<script>
    document.body.appendChild(document.createElement('script')).src = 'https://unpkg.com/sweetalert/dist/sweetalert.min.js';
    $(".editForm").on('submit', function (event) {
        const big_cat_name = $(this).find("input").val();
        if (big_cat_name.length < 1) {
            swal('Name must be filled in!');
            event.preventDefault();
        }
    });

    $('#addForm').on('submit', function (event) {
        event.preventDefault();
        const big_cat_name = document.getElementById('txtAddBigCatName').value;

        if (big_cat_name.length < 1) {
            swal('Name must be filled in!');
            return;
        } else {
            swal("Successful").then((value) => {
                $('#addForm').off('submit').submit();
            });
        }
    });

    $('#txtAddBigCatName').select();
</script>
{{/section}} --}}

<div class="bigCate">
    <div class="bigCate-title d-flex">
        <h3>Order</h3>
        {{!-- <button type="submit" class="text-md px-6 py-2  border border-cyan-700" data-bs-toggle="modal"
            data-bs-target="#exampleModalAdd">
            <i class="fa fa-plus" aria-hidden="true"></i> ADD
        </button> --}}
    </div>
    <div class="mt-5 table-responsive">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col" style="text-align: center;">Status</th>
                    <th scope="col" style="text-align: center;">Date</th>
                    <th scope="col" class="text-center">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <table style="width: 100%">
                            <tr>
                                <td style="border: none; padding:0; float:left">Ram abcxyz</td>
                                <td
                                    style="border: none; padding:0; min-width: 30px; color:#24262b; text-align: center;">
                                    1</td>
                            </tr>
                            <tr>
                                <td style="border: none; padding:0; float:left">Ram abcxyz</td>
                                <td
                                    style="border: none; padding:0; min-width: 30px; color:#24262b; text-align: center;">
                                    1</td>
                            </tr>
                        </table>
                    </td>
                    <td style="text-align: center;">
                        success
                    </td>
                    <td style="text-align: center;">
                        10/04/2022
                    </td>
                    <td>
                        <form class="editForm">
                            <button type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModalEdit">Edit</button>
                            <button type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModalDel">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal edit-->
    <div class="modal" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <label>Status</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">pending</option>
                        <option value="2">preparing</option>
                        <option value="3">shipping</option>
                        <option value="3">success</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-save">Save</button>
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete-->
    <div class="modal" id="exampleModalDel" tabindex="-1" aria-labelledby="exampleModalDelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-save">Delete</button>
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>