
<div class="bigCate">
    <div class="table-responsive" style="overflow-y: auto; height: 500px">
        <table class="table">
            <thead>
            <tr class="table-active">
                <th scope="col">ID</th>
                <th scope="col">Detail</th>
                <th scope="col" style="text-align: center;">Date</th>
                <th scope="col" class="text-center">&nbsp;</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <strong>Customer:</strong> thanh
                        </tr>
                        <tr>
                            <td style="border: none; padding:0; float:left">Ram abcxyz</td>
                            <td
                                    style="border: none; padding:0; min-width: 30px; color:#24262b; text-align: center;">
                                1</td>
                        </tr>
                        <tr>
                            <td style="border: none; padding:0; float:left">Ram abcxyz</td>
                            <td
                                    style="border: none; padding:0; min-width: 30px; color:#24262b; text-align: center;">
                                1</td>
                        </tr>
                    </table>
                </td>
                <td style="text-align: center;">
                    10/04/2022
                </td>
                <td>
                    <div class="editForm">
                        <button type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModalApprove">Approve</button>
                        <button type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModalDel">Cancel</button>
                    </div>
                </td>
                {{!-- <td>
                    <div class="editForm">
                    </div>
                </td> --}}
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal edit-->
    <div class="modal" id="exampleModalApprove" tabindex="-1" aria-labelledby="exampleModalDelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    Approve this order?
                </div>
                <form class="modal-footer">
                    <button type="button" class="btn-save">Approve</button>
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal delete-->
    <div class="modal" id="exampleModalDel" tabindex="-1" aria-labelledby="exampleModalDelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    Cancel this order?
                </div>
                <form class="modal-footer">
                    <button type="button" class="btn-save">Cancel</button>
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>