{{#section 'js'}}
    <script>
        function update() {
            const child_category = {
                Empty: [],
                RAM: ['Hynix', 'Crucial'],
                SSD: ['Samsung', 'Intel'],
                CPU: ['Intel', 'AMD']
            };
            const select = document.getElementById('parent_category');
            const option = select.options[select.selectedIndex].value;

            $("#child_category").empty();
            let selectOption = "";
            const list_option = child_category[option];
            for (let i = 0; i < list_option.length; i++) {
                selectOption = "";
                selectOption += "<option value='" + list_option[i] + "'>" + list_option[i] + "</option>";
                $('#child_category').append(selectOption);
            }
        }
        update();
    </script>

    <script>
        document.body.appendChild(document.createElement('script')).src = 'https://unpkg.com/sweetalert/dist/sweetalert.min.js';
        $('#addForm').on('submit', function (event) {
            event.preventDefault();
            const proname = document.getElementById('txtAddProductName').value;
            const price = document.getElementById('txtAddPrice').value;
            const stock = document.getElementById('txtAddStock').value;
            // const bigCat = document.getElementById('parent_category').value;
            // const childCat = document.getElementById('child_category').value;
            const file = document.getElementById('fileUpload');

            // alert(file.files.length)
            if(file.files.length === 0 ){
                swal("Please upload product image!")
                return;
            }

            if(proname.length<1||price.length<1||stock.length<1){
                swal("Please fill all fields!")
                return;
            }
            swal("Congrats!", "Product uploaded successfully!!", "success");
            $('#addForm').off('submit').submit();
        });
    </script>
{{/section}}

<div class="bigCate ">
    <div class="bigCate-title d-flex mb-3">
        <h3>Product</h3>
        <button type="submit" class="text-md px-6 py-2  border border-cyan-700" data-bs-toggle="modal"
                data-bs-target="#exampleModalAdd">
            <i class="fa fa-plus" aria-hidden="true"></i> ADD
        </button>
    </div>

    <div class="table-responsive" style="min-height: 200px;max-height: 500px">
        <table class="table">
            <thead>
            <tr class="table-active">
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>

                <th scope="col" class="text-center">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Ram abcxyz</td>
                <td>10000000</td>
                <td>10</td>
                {{!-- <td>Ram</td>
                <td>Samsung</td> --}}
                <td>
                    <div class="editForm">
                        <button type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModalEdit">Edit
                        </button>
                        <button type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModalDel">Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal add-->
    <div class="modal" id="exampleModalAdd" tabindex="-1" aria-labelledby="exampleModalAddLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"style="overflow-y: scroll; height:500px">
                <div class="modal-body" >
                    <label>Product Name</label>
                    <input id="txtAddProductName" type="text" name="ProductName" class="border border-cyan-700">
                    <label class="mt-3">Price</label>
                    <input id="txtAddPrice" type="text" name="Price" class="border border-cyan-700">
                    <label class="mt-3">Product Count</label>
                    <input id="txtAddProductCount" type="text" name="ProductCount" class="border border-cyan-700">
                    <label class="mt-3">Big Category</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Ram</option>
                        <option value="2">CPU</option>
                        <option value="3">SSD</option>
                    </select>
                    <label class="mt-3">Category</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Samsung</option>
                        <option value="2">Kingston</option>
                    </select>
                    <label class="mt-3">Description</label>
                    <textarea id="txtAddProductDescription" type="text" name="Description" class="border border-cyan-700"></textarea>
                    <label class="mt-3">Image</label>
                    <input type="file" accept=".jpg, .png" style="line-height: normal;" multiple>
                </div>
                <form class="modal-footer" id="" action="" method="post">
                    <button type="submit" class="btn-save">Save</button>
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal edit-->
    <div class="modal" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <label>Product Name</label>
                    <input id="txtAddBigCatName" type="text" name="BigCatName" class="border border-cyan-700">
                    <label>Price</label>
                    <input id="txtAddPrice" type="text" name="Price" class="border border-cyan-700">
                    <label class="mt-3">Product Count</label>
                    <input id="txtAddBigCatName" type="text" name="BigCatName" class="border border-cyan-700">
                    <label class="mt-3">Big Category</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Ram</option>
                        <option value="2">CPU</option>
                        <option value="3">SSD</option>
                    </select>
                    <label class="mt-3">Category</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Samsung</option>
                        <option value="2">Kingston</option>
                    </select>
                </div>
                <form class="modal-footer">
                    <button type="submit" class="btn-save">Save</button>
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal delete-->
    <div class="modal" id="exampleModalDel" tabindex="-1" aria-labelledby="exampleModalDelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure to delete this product?
                </div>
                <form class="modal-footer" id="btnDelete" method="post">
                    <button type="submit" class="btn-save" value="1" formaction="/admin/product/delete-product"
                            name="delete">Delete
                    </button>
                    <button type="button" class="btn-cancel" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace('txtAddProductDescription');
</script>