<div class="bigCate">
    <div class="table-responsive" style="min-height: 200px;max-height: 500px">
        <table class="table">
            <thead>
                <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>DoanHuongNgan</td>
                    <td>0987654321</td>
                    <td>227 Nguyen Van Cu</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>