@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.625;
    position: relative;
    visibility: visible;
    color: $color-0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container-fluid {
    padding: 0 30px;
}

hr {
    margin: 10px 0;
}

textarea {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    outline: 0;
}

label {
    margin-bottom: 15px;
}

ul {
    padding-left: 0;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}
.img-responsive {
    max-width: 100%;
    display: block;
    width: 100%;
}

input {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-size: 15px;
    width: 100%;
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-align: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
}

@media screen and (max-width: 768px) {
    .container-fluid {
        padding: 0 15px;
    }
}
