<div class="account__item" id="account-details">
    <div class="login">
        <div class="login_form_container">
            <div class="account_login_form">
                <form id="changePassForm" action="/account/change-password" method="POST">
                    <input type="hidden" name="_id" value="{{user._id}}" />

                    <div class="default-form-box mb-20">
                        <label>Old Password</label>
                        <input id="oldPass" type="password" name="old_password" />
                    </div>
                    <div class="default-form-box mb-20">
                        <label>New Password</label>
                        <input id="newPass" type="password" name="new_password" />
                        <span class="ml-2 font-medium text-bold" id='message_t'></span>

                    </div>
                    <div class="default-form-box mb-20">
                        <label>Confirm Password</label>
                        <input id="newPassConfirm" type="password" name="new_password_confirm" />
                        <span class="ml-2 font-medium text-bold" id='message'></span>
                        {{#if error}}
                        <p class="text-danger text-center mb-4 "><strong>{{error}}</strong>
                        </p>
                        {{/if}}
                    </div>
                    <div class="save_button mt-3">
                        <button id="saveBtn" class="btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>