<!-- checkout area start -->
<div class="checkout-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="billing-info-wrap">
                    <h3>Billing Details</h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-4">
                                <label>User Name</label>
                                <input type="text" value="DoanHuongNgan" />
                            </div>
                        </div>



                        <div class="col-lg-12">
                            <div class="billing-info mb-4">
                                <label>Street Address</label>
                                <input class="billing-address" placeholder="House number and street name" type="text"
                                    value="227 NguyenVanCu" />

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-4">
                                <label>Phone</label>
                                <input type="text" value="0987654321" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="billing-info mb-4">
                                <label>Email Address</label>
                                <input type="text" value="abc@gmail.com" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-md-30px mt-lm-30px ">
                <div class="your-order-area">
                    {{!-- {{#if isConfirmed}} <h3 id="outofstock">Your order has been confirmed!</h3>

                    {{/if}}
                    {{#if isProcess}} <h3 id="outofstock">Your order is already processed</h3>
                    {{else}}

                    {{/if}} --}}

                    <h3>Your order</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>Product</li>
                                    <li>Total</li>
                                </ul>
                            </div>

                            <div class="your-order-middle">
                                <ul>
                          
                                    <li><span class="order-middle-left">Ram Samsung X 1</span>
                                        <span class="order-price">123123 VND </span></li>

                                    <li><span class="order-middle-left">Ram Samsung X 1</span>
                                        <span class="order-price">123123 VND </span></li>

                                </ul>
                            </div>

                            <div class="your-order-bottom">
                                <ul>
                                    <li class="your-order-shipping">Shipping</li>
                                    <li>0 VND</li>
                                </ul>
                            </div>

                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Total</li>
                                    <li>246246 VND</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="Place-order mt-25">
                        <a class="btn-hover" href="#">Place Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout area end -->