

<div class="account__item" id="information">
    <div class="login">
        <div class="login_form_container">
            <div class="account_login_form">
                <form action="#" method="POST">
                    <div class="default-form-box mb-20">
                        <label>Address</label>
                        <input type="text" name="address" value="227 NguyenVanCu" readonly />
                    </div>
                    <div class="default-form-box mb-20 mt-3">
                        <label>Phone Number</label>
                        <input type="text" name="phone" value="0987654321" readonly />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>