<div class="pt-100px pb-100px" style="width: 50%; margin: 0 auto;">

    <div class="container mx-auto flex justify-center pt-16">
        <div class="w-96  p-8 border border-cyan-700 shadow-2xl ">
            <div class="text-green-500 font-semibold">
                Account has been verified!
            </div>
            <div style="text-align:justify" class="text-sm font-light text-left">
                We hope you enjoy the shopping. Let's get back to login!
            </div>
            <a href="/login">
                <button style="background-color: red;">
                        BACK TO LOGIN
                </button>
            </a>
        </div>
    </div>
</div>

