<div class="otp section height-full container">
    <div class="otp__content flex justify-center">
        <div class="border border-cyan-700 otp__item">
            <div class="section-title">
                <p class="title">
                    Password has been reset!
                </p>
            </div>
            <div>
                <p class="fs-5">
                    We have sent the new password to your email.
                Please log in with the new password.
                You can change it later in settings.
                </p>
                <p class="fs-5">
                   *Your password has been encrypted so Horizon does not know it!
                </p>
            </div>
            <div class="otp-btn">
                <a href="/login">
                    <button class="add-cart">
                        <span>GOT IT</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>