<!-- Team Area Start -->

<div class="team-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center mb-30px0px">
                    <h2 class="title line-height-1">GearANT</h2>
                    <br>
                    <h2 class="title">The meticulous people behind the scenes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-lm-30px">
                <!-- Single Team -->
                <div class="team-wrapper">
                    <div class="team-image overflow-hidden">
                        <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.6435-9/139976465_1809083152603385_2794444473940865691_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=6TWclQKbMr8AX_YbfBS&_nc_ht=scontent.fsgn4-1.fna&oh=00_AT-89AL_7nDKiPizKDxzKnPDXf8Wes9Z2GY6UJedH5QElQ&oe=6271E17A"
                            alt="">
                    </div>
                    <div class="team-content">
                        <h6 class="title">Hoang Nhu Thanh</h6>
                        <span class="sub-title">WEB DEVELOPER</span>
                        <span class="sub-title">19127067</span>
                    </div>
                    <ul class="team-social d-flex">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        {{!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> --}}
                        <li><a href="mailto:19127067@student.hcmus.edu.vn"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <!-- Single Team -->
            </div>
            <div class="col-md-4 mb-lm-30px">
                <!-- Single Team -->
                <div class="team-wrapper">
                    <div class="team-image overflow-hidden">
                        <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.6435-9/53459167_2115157368522146_1557156250184056832_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=qCUyoecXIgMAX9BTKVB&_nc_ht=scontent.fsgn3-1.fna&oh=00_AT-YT5SSBH5434pZXQOg_o6MmNGcaCABcSMWXKgxRKx8NQ&oe=626BF448"
                            alt="">
                    </div>
                    <div class="team-content">
                        <h6 class="title">Nguyen Minh An</h6>
                        <span class="sub-title">BACKEND DEVELOPER</span>
                        <span class="sub-title">19127010</span>
                    </div>
                    <ul class="team-social d-flex">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        {{!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> --}}
                        <li><a href="mailto:19127010@student.hcmus.edu.vn"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <!-- Single Team -->
            </div>
            <div class="col-md-4">
                <!-- Single Team -->
                <div class="team-wrapper">
                    <div class="team-image overflow-hidden">
                        <img src="https://scontent.fsgn8-2.fna.fbcdn.net/v/t1.6435-9/60664027_2330892357152583_3954759582114381824_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=174925&_nc_ohc=HhEACFcnmAMAX-NwFWM&_nc_ht=scontent.fsgn8-2.fna&oh=00_AT_lkP7BhKK2GFnVvLPs_C8IE87pErXVtEML8kVDIP8RbQ&oe=626D4F2B"
                            alt="">
                    </div>
                    <div class="team-content">
                        <h6 class="title">Doan Huong Ngan</h6>
                        <span class="sub-title">FRONTEND DEVELOPER</span>
                        <span class="sub-title">19127049</span>
                    </div>
                    <ul class="team-social d-flex">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        {{!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> --}}
                        <li><a href="mailto:19127049@student.hcmus.edu.vn"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <!-- Single Team -->
            </div>
        </div>
    </div>
</div>

<!-- Team Area End -->