<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="d-flex align-items-center">
            <ul class="breadcrumb-list">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i></a></li>
                <li class="breadcrumb-item">Error</li>
            </ul>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->

<!-- Blank area start -->
<div class="blank-page-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="blank-content-header ">
                    <h1>The page you are looking for was not found.</h1>
                </div>
                <div class="page-not-found text-center">
                    <h4>Sorry For The Inconvenience.</h4>
                    <a href="/"><i class="fa fa-home"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blank area end -->