{{!-- {{#section 'js'}}
<script>
    document.body.appendChild(document.createElement('script')).src = 'https://unpkg.com/sweetalert/dist/sweetalert.min.js';
    $('#formReset').on('submit', function (event) {
        event.preventDefault();
        const email = document.getElementById('txtEmail').value;
        if (email.length < 1) {
            swal("Please enter your email!");
            return;
        }
        if (!/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email)) {
            swal("Please enter a valid email!");
            return;
        }
        $('#formReset').off('submit').submit();
    });
    $('#txtEmail').select();
</script>
{{/section}} --}}
<div class="otp section height-full container">
    <form id="formReset" method="post" action="/forget-password">
        <div class="mx-auto flex justify-center otp__content">
            <div class="border border-cyan-700 otp__item">
                <div class="section-title">
                    {{!-- {{#if error}}
                    <p class="text-danger"><strong>{{error}}</strong></p>
                    {{/if}} --}}
                    <label class="title">
                        Enter your email to reset password.
                    </label>
                </div>
                <input class="border border-cyan-700" id="txtEmail" placeholder="Email" name="Email" />
                <div class="otp-btn">
                    <button class="add-cart" type="submit"><span>SEND</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>