<div class="otp section height-full container">
    <div class="otp__content flex justify-center">
        <div class="border border-cyan-700 otp__item">
            <div class="section-title" style="text-align: center;">
                <p class="title">Account has been verified!</p>
            </div>
            <div>
                <p class="fs-5">
                    We hope you enjoy the shopping. Let's get back to login!
                </p>
            </div>
            <div class="otp-btn">
                <a href="/login">
                    <button class="add-cart"><span>BACK TO LOGIN</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>