// color
$color-0: #474747;
$color-1: #333333;
$color-2: #fd3d6b;
$color-3: #cfcfcf;
$color-4: #969696;
$color-5: #fffefe;
$color-6: #ffffff;
$color-7: #afafaf;
$color-8: #d8d8d8;
$color-9: #ebebeb;
$color-bg: linear-gradient(-96deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
$color-bg-2: #fb5d5d;
// font weight



